/* Adding a new English font family needs to keep "public\fonts\fonts.ts" in sync */
/* Sans Serif Fonts */
@font-face {font-family: "Roboto"; src: url("/fonts/Roboto-Regular.woff");}
@font-face {font-family: "Roboto"; src: url("/fonts/Roboto-Bold.woff"); font-weight: bold;}
@font-face {font-family: "Lato"; src: url("/fonts/Lato-Regular.woff");}
@font-face {font-family: "Lato"; src: url("/fonts/Lato-Bold.woff"); font-weight: bold;}
@font-face {font-family: "Montserrat"; src: url("/fonts/Montserrat-Regular.woff");}
@font-face {font-family: "Montserrat"; src: url("/fonts/Montserrat-Bold.woff"); font-weight: bold;}
@font-face {font-family: "OpenSans"; src: url("/fonts/OpenSans-Regular.woff");}
@font-face {font-family: "OpenSans"; src: url("/fonts/OpenSans-Bold.woff"); font-weight: bold;}
@font-face {font-family: "Raleway"; src: url("/fonts/Raleway-Regular.woff");}
@font-face {font-family: "Raleway"; src: url("/fonts/Raleway-Bold.woff"); font-weight: bold;}

/* Serif Fonts */
@font-face {font-family: "Caladea"; src: url("/fonts/Caladea-Regular.woff");}
@font-face {font-family: "Caladea"; src: url("/fonts/Caladea-Bold.woff"); font-weight: bold;}
@font-face {font-family: "Lora"; src: url("/fonts/Lora-Regular.woff");}
@font-face {font-family: "Lora"; src: url("/fonts/Lora-Bold.woff"); font-weight: bold;}
@font-face {font-family: "RobotoSlab"; src: url("/fonts/RobotoSlab-Regular.woff");}
@font-face {font-family: "RobotoSlab"; src: url("/fonts/RobotoSlab-Bold.woff"); font-weight: bold;}
@font-face {font-family: "PlayfairDisplay"; src: url("/fonts/PlayfairDisplay-Regular.woff");}
@font-face {font-family: "PlayfairDisplay"; src: url("/fonts/PlayfairDisplay-Bold.woff"); font-weight: bold;}
@font-face {font-family: "Merriweather"; src: url("/fonts/Merriweather-Regular.woff");}
@font-face {font-family: "Merriweather"; src: url("/fonts/Merriweather-Bold.woff"); font-weight: bold;}
